VITE_SUPABASE_URL=https://zdbphhgdyzzwtqwpyaha.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkYnBoaGdkeXp6d3Rxd3B5YWhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NTY2OTMsImV4cCI6MjA4ODEzMjY5M30.UQVSrVWr8afNRFANwXvEHubWjIYN4efl3dagmuJB2n4
VITE_GOOGLE_CLIENT_ID=135260746665-pacakjncpf7g3venanag5gkuepu91lpe.apps.googleusercontent.com
