# Microsoft OAuth Credentials
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# The OneDrive/SharePoint folder link provided by the user
ONEDRIVE_FOLDER_LINK=https://topicolocacoes-my.sharepoint.com/:f:/g/personal/davi_santos_topico_com_br/IgCT0hYzbJy8QZ1asKQPLerpATGgWb1iMqjcT6jtuS9MljI?e=yj3eaN
